h1.connect{
  text-align: center;
}

.open-sans{
  font-family: 'Open Sans', serif;
}

.wall__container {
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 50px;

  @media screen and (any-hover: none) {
    width: 90vw;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.wall {
  display: grid;
  grid-template-columns: [col-0] 25% [col-1] 25% [col-2] 25% [col-3] 25% [col-4];
  grid-template-rows: [row-0] 25% [row-1] 25% [row-2] 25% [row-3] 25% [row-4];
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  height: 100%;
  width: 100%;

  text-align: center;
}

.card {
  width: 100%;
  min-height: 75px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.5em;
  font-family: sans-serif;
  background-color: #bfeef5;

  @media screen and (any-hover: none) {
      font-size: 1em;
    }


  &.highlight {
    box-shadow: 0 0 0 3px hotpink;
  }
}

.card__selected {
  background-color: red;
}

.card__correct {

  color: white;

  &.row_1{
    background-color: #054870;
  }

  &.row_2{
    background-color: #067c5d;
  }

  &.row_3{
    background-color: #562043;
  }

  &.row_4{
    background-color: #056e7c;
  }
}

.row {
  &_1 {
    grid-row-start: row-0;
    grid-row-end: row-1;
  }
  &_2 {
    grid-row-start: row-1;
    grid-row-end: row-2;
  }
  &_3 {
    grid-row-start: row-2;
    grid-row-end: row-3;
  }
  &_4 {
    grid-row-start: row-3;
    grid-row-end: row-4;
  }
}

.col {
  &_1 {
    grid-column-start: col-0;
    grid-column-end:col-1;
  }
  &_2 {
    grid-column-start: col-1;
    grid-column-end:col-2;
  }
  &_3 {
    grid-column-start: col-2;
    grid-column-end:col-3;
  }
  &_4 {
    grid-column-start: col-3;
    grid-column-end:col-4;
  }
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container{
  display: flex;
  flex-direction: column;
}

input.input-connect {
  height: 40px;
  width: 200px;
  padding: 0px 10px;
  border-radius: 30px;
}

button.button-connect {
  height: 40px;
  border-radius: 30px;
}

#skipButton{
  align-self: center;
  margin-top: 1em;
}
