.wall__container {
  width: 80vw;
  height: 40vw;
}

.wall {
  display: grid;
  grid-template-columns: [col-0] 25% [col-1] 25% [col-2] 25% [col-3] 25% [col-4];
  grid-template-rows: [row-0] 25% [row-1] 25% [row-2] 25% [row-3] 25% [row-4];
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  text-align: center;
}

.card {
  border: solid 1px black;
  min-width: 200px;
  width: 100%;
  min-height: 150px;
  height: 100%;

}

//could nth child stuff be used to make this?
.row {
  &_1 {
    grid-row-start: row-0;
    grid-row-end: row-1;
  }
  &_2 {
    grid-row-start: row-1;
    grid-row-end: row-2;
  }
  &_3 {
    grid-row-start: row-2;
    grid-row-end: row-3;
  }
  &_4 {
    grid-row-start: row-3;
    grid-row-end: row-4;
  }
}

.col {
  &_1 {
    grid-column-start: col-0;
    grid-column-end:col-1;
  }
  &_2 {
    grid-column-start: col-1;
    grid-column-end:col-2;
  }
  &_3 {
    grid-column-start: col-2;
    grid-column-end:col-3;
  }
  &_4 {
    grid-column-start: col-3;
    grid-column-end:col-4;
  }
}
