.rapid__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rapid__clickbox{
  width: 20vw;
  height: 2em;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (any-hover: none) {
    width: 100vw;
    height: 10vh;
  }
}

svg.rapid{
  height: 70vh;
  max-height: 500px;
  @media screen and (any-hover: none) {
    max-height: 400px;
  }
}

table.rapid{
  width: -webkit-fill-available;
}

.rapid__text{
  font-family: 'Staatliches', monospace;
  font-size: 1.5em;

  &--inline{
    display: inline;
    margin-right: 1em;
  }
}

h1.rapid__text{
  font-size: 3em;
  text-align: center;
  @media screen and (any-hover: none) {
    font-size: 3em;
  }
}

h3.rapid__text{
  font-size: 2em;
  text-align: center;
  @media screen and (any-hover: none) {
    font-size: 3em;
  }
}

li.rapid__text{
  margin-left: 0;
}

#score-submit{
  margin-top: 1em;
}

.rapid__highscores{
  padding: 10px;
  border: solid 2px red;
}
