.can-can__container{
  margin: 1em;
  display: grid;
  grid-template-columns: [col-0] 25vw [col-1] 25vw [col-2] 25vw [col-3] 25vw [col-4];
  grid-template-rows: [row-0] 100vh [row-1];
}

.can-can__image{
  max-width: 50vw;
  max-height: 80vh;

  &.can-can__top{
    z-index: 10;
  }
}

.can-can__image--hidden {
  z-index: -100;
  display: none;
}

.can-can__image--dance {
  -webkit-animation: can-can-dance2 0.33s infinite linear;
}

@-webkit-keyframes can-can-dance {
    0%  {-webkit-transform: rotate(-10deg) translate(0, 0.5em);}
    33%  {-webkit-transform: rotate(0deg) translate(0, 0em);}
    66% {-webkit-transform: rotate(10deg) translate(0,-0.5em);}
    100%  {-webkit-transform: rotate(0deg) translate(0,-1em);}
}


.can-can__curtain {
  height: 100vh;
  z-index: -1;

  &.can-can__left-curtain-align {
    position: absolute;
    left: 0;
    top: 0;
  }

  &.can-can__right-curtain-align {
     position: absolute;
     left: 50%;
     top: 0;
  }

}
