.geolocation__image{
 background-image: url('https://res.cloudinary.com/dl1rwtqzi/image/upload/v1573897121/overly-attached-gf_n8tcle.jpg');
 background-position: center;
}

.geolocation__header{
  color: red;
}

.geolocation__message{
  color: red;
}
