.geolocation__image{
 background-image: url('https://res.cloudinary.com/dl1rwtqzi/image/upload/v1573897121/overly-attached-gf_n8tcle.jpg');
 background-position: center;
}

.geolocation__header{
  align-self: center;
  font-family: sans-serif;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
}

.geolocation__message-bottom{
  margin-top: 50vh;
}
