.quiz__section {
  background-color: rgba(255,255,255,0.8);
  padding: 1em;
}

.quiz__number {
  position: relative;
  border-radius: 50%;
  padding: 5px;
  background-color: black;
  color: white;
  margin-left: -5px;
  margin-bottom: -20px;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.quiz__input {
  width: 90%;
  padding: 5px 10px;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
}

.quiz__button {
  padding: 15px 10px;
  background: inherit;
  border: solid 2px black;
  border-radius: 10px;
}

.quiz__submit {
  display: flex;
  justify-content: center;
  & input[type=submit] {
    text-align: center;
    padding: 15px 10px;
    background: black;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    font-size: large;
  }
}

.dingbats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dingbats__image {
  width: 20vw;
  @media screen and (max-width: 800px){
    width: 80vw;
  }
}

.comic-sans {
  font-family: sans-serif;
  font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
}
