<div id="menu-area" class="sideMenu">
  <a href="javascript:void(0)" class="close" onclick="menuClose()"><i class="fa fa-window-close"></i></a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
