<div id="menu-area" class="sideMenu">
  <i id="close-button" class="fa fa-window-close close pad-right" onclick="menuClose()"></i>

  <a href="/about" class="menu-link pad-left" >About</a>

  <a href="/" class="menu-link pad-left" onclick="resetHomepage();">Reset homepage</a>

  <hr class="menu-horizontal-rule">

  <div class="menu-links-container">
    <%= menu_links_html%>
  </div>
</div>
