<div id="menu-area" class="sideMenu">
  <i id="close-button" class="fa fa-window-close close pad-right" onclick="menuClose()"></i>

  <a href="/about" class="menu-link pad-left" >About</a>

  <hr class="menu-horizontal-rule">

  <div class="menu-links-container">
    <% for i in (1..Time.now.day)%>
      <a href="<%="/days/#{i}"%> " class="menu-link pad-left" ><%= "Day #{i}"%> </a>
    <% end %>
  </div>
</div>
