<link href="https://fonts.googleapis.com/css?family=Vidaloka&display=swap" rel="stylesheet">

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    document.body.style.backgroundColor = '#272d3a'
    document.getElementsByClassName('back-button')[0].style.color="white"
  })
</script>

<div class="about__container">
  <h1 class="about">About</h1>

  <section class="about">
    <p class="about">Hey Hugo! My mystery project isn't a mystery anymore... it's an advent calendar!</p>
  </section>

  <section class="about">
    <h2 class="about">The homepage</h2>
    <p class="about">On the homepage you have advent calendar windows that only become clickable on the correct day.</p>
    <p class="about">As you open windows you will reveal an image. You could cheat and look at that picture before Christmas, but where's the fun in that?</p>
  </section>

  <section class="about">
    <h2 class="about">Daily surprises</h2>
    <p class="about">For each window you open, you'll be able to access a new page. These pages may contain little games or something dumb (mostly dumb stuff, lol).</p>
    <p class="about">You can access previous days' pages by using the menu in the top left of the homepage</p>
  </section>

</div>
