<link href="https://fonts.googleapis.com/css?family=Vidaloka&display=swap" rel="stylesheet">

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    document.body.style.backgroundColor = '#272d3a'
    document.getElementsByClassName('back-button')[0].style.color="white"
  })
</script>

<div class="about__container">
  <h1 class="about">About</h1>

  <section class="about">
    <p class="about">Hey Hugo! My mystery project isn't a mystery anymore... it's an advent calendar!</p>
  </section>

  <section class="about">
    <h2 class="about">The homepage</h2>
    <p class="about">On the homepage you have advent calendar windows that only become clickable on the correct day.</p>
    <p class="about">To navigate back to the homepage there's a button in the top left (or use your browser, grandma)</p>
    <p class="about">The window open to reveal an image over the course of December. You could cheat and look at that picture early, but where's the fun in that?</p>
  </section>

  <section class="about">
    <h2 class="about">Challenges</h2>
    <p class="about">For each advent calendar window you open, you'll be able to access a challenge page. These may be actual challenges, like games and quizzes, or be something dumb.</p>
    <p class="about">You can access the challenge pages repeat times by using the menu on the homepage</p>
  </section>

  <section class="about">
    <h2 class="about">How to look at the advent calendar</h2>
    <p class="about">For each advent calendar window you open, you'll be able to access a challenge page. These may be actual challenges, like games and quizzes, or be something dumb.</p>
    <p class="about">You can access the challenge pages repeat times by using the menu on the homepage</p>
  </section>
</div>
