<%= javascript_include_tag 'homepage/delete-local-storage.js' %>

<h1>This page has JS to remove this app's localStorage</h1>
<p>
  This is to help debugging on mobile.
</p>
<p>If your screen's background is blue, the homepage has been reset</p>
