<div class="youve-been-bad__container full-page-container">
  <button id="been-bad-button" type="button" name="button">click me</button>
  <%= video_tag 'youve-been-bad.mov', id:"been-bad-video", class:"video__sizing", style:"display:none;" %>
</div>

<%= javascript_include_tag "easter-eggs/youve-been-bad.js" %>
