<div class="flex-column-centered full-page-container">
  <div class="mt-3">
    <button id="been-bad-button" class="youve-been-bad__button" type="button" name="button">click me</button>
  </div>
  <%= video_tag ENV['YOUVE_BEEN_BAD_VIDEO_URL'], id:"been-bad-video", class:"video__sizing", style:"display:none;" %>
</div>

<%= javascript_include_tag "easter-eggs/youve-been-bad.js" %>
