.polaroid{
  background-color: white;
  max-width: 80vw;
  margin-top: 2em;
  @media screen and (max-width: 800px) {
    max-width: 90vw;
    margin-top: 5em;
  }

  padding: 1em;

  border: solid 2px #F0F0F0;
  border-radius: 5px;
  box-shadow: 5px 10px 20px #888888;

  &__bottom{
    max-width: 500px;
    padding: 1em;
    word-wrap: normal;
    font-family: 'Kalam', cursive;
    @media screen and (max-width: 800px) {
      max-width: 95vw;
      // font-size: 2em;
    }
  }

  & .photo{
    max-height: 70vh;
    @media screen and (max-width: 800px) {
      max-width: 85vw;
    }
  }
}
