.crossword__container{
  display: grid;
  grid-template-columns: [col-0] 5% [col-1] 5% [col-2] 5% [col-3] 5% [col-4] 5% [col-5] 5% [col-6] 5% [col-7] 5% [col-8] 5% [col-9] 5% [col-10] 5% [col-11] 5% [col-12] 5% [col-13] 5% [col-14] 5% [col-15] 5% [col-16] 5% [col-17] 5% [col-18];
  grid-template-rows: [row-0] 5% [row-1] 5% [row-2] 5% [row-3] 5% [row-4] 5% [row-5] 5% [row-6] 5% [row-7] 5% [row-8] 5% [row-9] 5% [row-10] 5% [row-11] 5% [row-12] 5% [row-13] 5% [row-14] 5% [row-15] 5% [row-16] 5% [row-17] 5% [row-18];
  grid-auto-rows: 0.5em;
  grid-auto-columns: 0.5em;
  grid-gap: 0px;
  width: 40vw;
  height: 40vw;

  @media screen and (any-hover: none) {
    width: 100vw;
    height: 100vw;
  }

  & input{
    border: solid 1px black;
  }

}

.crossword__box{
  width: 100%;
  height: 100%;
}

.crossword__clues{
  display: flex;
  flex-direction: row;
}

.across{
  &-1, &-3, &-6, &-8, &-9, &-11, &-12, &-15{
    background-color: red;
  }
}

.down{
  &-1, &-2, &-4, &-5, &-7, &-13, &-14 {
    background-color: green;
  }
}
