
<br>
<br>
<button onclick="console.log('here');window.navigator.vibrate([200, 100, 200]);" type="button" name="button">vibrate</button>

<script>
  function vibrate(){
    window.navigator.vibrate([200, 100, 200]);
  }
</script>
