<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
<div class="full-page-container">
  <section id="photo-container-1" class="flex-column-centered mb-3">
    <div class="polaroid flex-column-centered">
      <%= image_tag ENV['HUGO_MEALPLAN_IMG_URL'], id:"photo-1", class:"photo", alt:"A photo of Hugo meal planning prior to us moving in together. He's adorable."%>
      <div class="polaroid__bottom">
        <p>I sneakily took this photo when we were in Croydon before moving in together. You were furiously planning out our week's meals for the first time, and it was a whole new side of you I hadn't seen before. I just felt I had to save the moment in a photo.</p>
        <p>I love the lighting and the intense concentration on your face :). </p>
      </div>
    </div>
  </section>

  <section id="photo-container-2" class="flex-column-centered mb-3">
    <div class="polaroid flex-column-centered">
      <%= image_tag ENV['HUGO_CONTRACT_IMG_URL'], id:"photo-2", class:"photo", alt:"A photo of Hugo looking at tenancy agreement contracts"%>
      <div class="polaroid__bottom">
        <p>Another sneaky photo I took :P This was when we were signing the contract to move in together</p>
        <p>Meeting you and moving in with you are the best things that have happened to me. Coming home to you is the best part of my day</p>
      </div>
    </div>
  </section>

  <section id="photo-container-3" class="flex-column-centered mb-3">
    <div class="polaroid flex-column-centered">
      <%= image_tag ENV['HUGO_BUDGETS_IMG_URL'], id:"photo-3", class:"photo", alt:"A photo of Hugo looking at tenancy agreement contracts"%>
      <div class="polaroid__bottom">
        <p>You caught me taking this one. Here we were setting up utilities</p>
        <p>I love you so much xxxx</p>
      </div>
    </div>
  </section>
</div>
