<%= javascript_include_tag '19-geolocation/geolocation.js' %>

<div class="full-page-container geolocation__image">
  <h1 class="geolocation__header">Hi Hugo</h1>
  <h2 class="geolocation__message"> </h2>
</div>
