<div class="flex-column-centered">
  <div class="crossword__container mt-3">
    <!-- row1 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="1">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row2 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="2">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row3 -->
    <input class="crossword__box" type="text" name="" value="" placeholder="3">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="4">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="5">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row4 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row5 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row6 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row7 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value=""  placeholder="6">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box " type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value=""  placeholder="7">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row8 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value=""  placeholder="8">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <!-- row9 -->
    <input class="crossword__box" type="text" name="" value=""  placeholder="9">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value=""  placeholder="10">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row10 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="11">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <!-- row11 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row12 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="12">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="13">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="14">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row13 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row14 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="" placeholder="15">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row15 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row16 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row17 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <!-- row18 -->
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">
    <input class="crossword__box bg-black" type="text" name="" value="">

  </div>
</div>
