
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<div class="crossword__heading">
  <h1 class="crossword__font text-center">Crossword</h1>
  <p class="text-center">Wassuuuuuup I made a crossword! Hopefully it's not too easy or hard</p>
  <small class="d-block text-center">This was hard to style for use on mobiles, so maybe try on Desktop?</small>
</div>
<div id='responsive-container' class="crossword__flex">
  <section class="mt-1">
    <div class="crossword__container mt-1">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>


    <!-- row1 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-1" name="letter-1" class="down-1 across-1 crossword__box" type="text" maxlength="1" value="" placeholder="1">
    <input id="letter-2" name="letter-2" class="across-1 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-3" name="letter-3" class="across-1 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-4" name="letter-4" class="across-1 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-5" name="letter-5" class="across-1 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row2 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-6" name="letter-6" class="down-1 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-7" name="letter-7" class="down-2 crossword__box" type="text" maxlength="1" value="" placeholder="2">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row3 -->
    <input id="letter-8" name="letter-8" class="across-3 crossword__box" type="text" maxlength="1" value="" placeholder="3">
    <input id="letter-9" name="letter-9" class="across-3 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-10" name="letter-10" class="across-3 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-11" name="letter-11" class="down-1 across-3 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-12" name="letter-12" class="down-4 crossword__box" type="text" maxlength="1" value="" placeholder="4">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-13" name="letter-13" class="down-5 crossword__box" type="text" maxlength="1" value="" placeholder="5">
    <div class="crossword__box bg-black"></div>
    <input id="letter-14" name="letter-14" class="down-2 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row4 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-15" name="letter-15" class="down-1 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-16" name="letter-16" class="down-4 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-17" name="letter-17" class="down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-18" name="letter-18" class="down-2 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row5 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-19" name="letter-19" class="down-1 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-20" name="letter-20" class="down-4 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-21" name="letter-21" class="down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-22" name="letter-22" class="down-2 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row6 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-23" name="letter-23" class="down-1 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-24" name="letter-24" class="down-4 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-25" name="letter-25" class="down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-26" name="letter-26" class="down-2 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row7 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-27" name="letter-27" class="down-1 crossword__box across-6" type="text" maxlength="1" value=""  placeholder="6">
    <input id="letter-28" name="letter-28" class="crossword__box across-6" type="text" maxlength="1" value="">
    <input id="letter-29" name="letter-29" class="crossword__box across-6" type="text" maxlength="1" value="">
    <input id="letter-30" name="letter-30" class="down-4 crossword__box across-6" type="text" maxlength="1" value="">
    <input id="letter-31" name="letter-31" class="crossword__box across-6" type="text" maxlength="1" value="">
    <input id="letter-32" name="letter-32" class="crossword__box across-6" type="text" maxlength="1" value="">
    <input id="letter-33" name="letter-33" class="down-5 crossword__box across-6" type="text" maxlength="1" value="">
    <input id="letter-34" name="letter-34" class="crossword__box across-6" type="text" maxlength="1" value="">
    <input id="letter-35" name="letter-35" class="down-2 crossword__box across-6" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-36" name="letter-36" class="down-7 crossword__box" type="text" maxlength="1" value=""  placeholder="7">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row8 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-37" name="letter-37" class="down-1 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-38" name="letter-38" class="down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-39" name="letter-39" class="down-2 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-40" name="letter-40" class="crossword__box across-8" type="text" maxlength="1" value=""  placeholder="8">
    <input id="letter-41" name="letter-41" class="down-7 crossword__box across-8" type="text" maxlength="1" value="">
    <input id="letter-42" name="letter-42" class="crossword__box across-8" type="text" maxlength="1" value="">
    <input id="letter-43" name="letter-43" class="crossword__box across-8" type="text" maxlength="1" value="">
    <!-- row9 -->
    <input id="letter-44" name="letter-44" class="across-9 crossword__box" type="text" maxlength="1" value=""  placeholder="9">
    <input id="letter-45" name="letter-45" class="across-9 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-46" name="letter-46" class="across-9 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-47" name="letter-47" class="down-1 across-9 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-48" name="letter-48" class="across-10 crossword__box" type="text" maxlength="1" value=""  placeholder="10">
    <input id="letter-49" name="letter-49" class="across-10 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-50" name="letter-50" class="across-10 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-51" name="letter-51" class="across-10 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-52" name="letter-52" class="down-5 across-10 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-53" name="letter-53" class="down-2 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-54" name="letter-54" class="down-7 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row10 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-55" name="letter-55" class="down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-56" name="letter-56" class="across-11 crossword__box" type="text" maxlength="1" value="" placeholder="11">
    <input id="letter-57" name="letter-57" class="across-11 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-58" name="letter-58" class="down-7 across-11 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-59" name="letter-59" class="across-11 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-60" name="letter-60" class="across-11 crossword__box" type="text" maxlength="1" value="">
    <!-- row11 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-61" name="letter-61" class="down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-62" name="letter-62" class="down-7 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row12 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-63" name="letter-63" class="across-12 crossword__box " type="text" maxlength="1" value="" placeholder="12">
    <input id="letter-64" name="letter-64" class="across-12 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-65" name="letter-65" class="across-12 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-66" name="letter-66" class="across-12 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-67" name="letter-67" class="across-12 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-68" name="letter-68" class="down-5 crossword__box across-12" type="text" maxlength="1" value="">
    <input id="letter-69" name="letter-69" class="across-12 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-70" name="letter-70" class="down-13 across-12 crossword__box" type="text" maxlength="1" value="" placeholder="13">
    <input id="letter-71" name="letter-71" class="across-12 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-72" name="letter-72" class="across-12 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-73" name="letter-73" class="down-14 across-12 crossword__box" type="text" maxlength="1" value="" placeholder="14">
    <input id="letter-74" name="letter-74" class="down-7 across-12 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row13 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-75" name="letter-75" class="down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-76" name="letter-76" class="down-13 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-77" name="letter-77" class="down-14 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row14 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-78" name="letter-78" class="across-15 crossword__box" type="text" maxlength="1" value="" placeholder="15">
    <input id="letter-79" name="letter-79" class="across-15 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-80" name="letter-80" class="across-15 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-81" name="letter-81" class="across-15 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-82" name="letter-82" class="across-15 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-83" name="letter-83" class="across-15 crossword__box" type="text" maxlength="1" value="">
    <input id="letter-84" name="letter-84" class="across-15 down-5 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <input id="letter-85" name="letter-85" class="down-13 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-86" name="letter-86" class="down-14 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row15 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-87" name="letter-87" class="down-13 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-88" name="letter-88" class="down-14 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row16 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-89" name="letter-89" class="down-13 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-90" name="letter-90" class="down-14 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row17 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-91" name="letter-91" class="down-13 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-92" name="letter-92" class="down-14 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <!-- row18 -->
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-93" name="letter-93" class="down-13 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="letter-94" name="letter-94" class="down-14 crossword__box" type="text" maxlength="1" value="">
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <div class="crossword__box bg-black"></div>
    <input id="check-answers-button" class="submit-button crossword__button--style" type="submit">
  </div>
  <p class="text-center crossword__message"></p>
  </section>
  <section class="crossword__clues mt-1">
    <p class="text-center">Click on a clue it'll highlight the relevant boxes</p>
    <div class="crossword__buttons">
      <button id="remove-answers" class="crossword__button--style" type="button" style="width:inherit;" onclick="clearAnswersRemoveMessage();">Clear answers</button>
      <button id="remove-highlight" class="crossword__button--style" type="button">Remove highlight</button>
    </div>

      <div class="clue-list">
        <p class="text-center"><b>Down</b></p>
        <p id='clue-down-1' class="clue">1 : A place we nearly visited</p>
        <p id='clue-down-2' class="clue">2 : The theme of that 'Hidden City' tour</p>
        <p id='clue-down-4' class="clue">4 : Author of 'East'...</p>
        <p id='clue-down-5' class="clue">5 : First Netflix show we watched together</p>
        <p id='clue-down-7' class="clue">7 : One of your fav snacks, preferably served in looooong bowls</p>
        <p id='clue-down-13' class="clue">13 : Small cloud on a leash</p>
        <p id='clue-down-14' class="clue">14 : Where we both first said 'I love you'</p>
      </div>
      <div class="clue-list">
        <p class="text-center"><b>Across</b></p>
        <p id='clue-across-1' class="clue">1 : Sadly, the first 'friend' of mine that you met...</p>
        <p id='clue-across-3' class="clue">3 : Hugo's favourite adjective for clothes</p>
        <p id='clue-across-6' class="clue">6 : Something we found really hard to cook for</p>
        <p id='clue-across-8' class="clue">8 : 13 down's name</p>
        <p id='clue-across-9' class="clue">9 : Hugo's favourite adjective for fermented food</p>
        <p id='clue-across-10' class="clue">10 : Often released under 11 across</p>
        <p id='clue-across-11' class="clue">11 : Routinely stolen at Flat A</p>
        <p id='clue-across-12' class="clue">12 : If I every lose you in Kentish Town I'll probably find you in the...</p>
        <p id='clue-across-15' class="clue">15 : If you can't stand the heat, keep out of the _______ kitchen</p>
      </div>
  </section>

<%= javascript_include_tag '20-crossword/crossword.js' %>
