<div class="flex-column-centered">
  <div class="crossword__container mt-3">
      <form method="POST" action="'/check-crossword'">
      <!-- row1 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-1 across-1 crossword__box" type="text" name="" value="" placeholder="1">
      <input class="across-1 crossword__box" type="text" name="" value="">
      <input class="across-1 crossword__box" type="text" name="" value="">
      <input class="across-1 crossword__box" type="text" name="" value="">
      <input class="across-1 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row2 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-1 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-2 crossword__box" type="text" name="" value="" placeholder="2">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row3 -->
      <input class="across-3 crossword__box" type="text" name="" value="" placeholder="3">
      <input class="across-3 crossword__box" type="text" name="" value="">
      <input class="across-3 crossword__box" type="text" name="" value="">
      <input class="down-1 across-3 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-4 crossword__box" type="text" name="" value="" placeholder="4">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-5 crossword__box" type="text" name="" value="" placeholder="5">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-2 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row4 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-1 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row5 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-1 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row6 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-1 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row7 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-1 crossword__box across-6" type="text" name="" value=""  placeholder="6">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box across-6" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value=""  placeholder="7">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row8 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="down-1 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box across-8" type="text" name="" value=""  placeholder="8">
      <input class="crossword__box across-8" type="text" name="" value="">
      <input class="crossword__box across-8" type="text" name="" value="">
      <input class="crossword__box across-8" type="text" name="" value="">
      <!-- row9 -->
      <input class="across-9 crossword__box" type="text" name="" value=""  placeholder="9">
      <input class="across-9 crossword__box" type="text" name="" value="">
      <input class="across-9 crossword__box" type="text" name="" value="">
      <input class="down-1 across-9 crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value=""  placeholder="10">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row10 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box across-11" type="text" name="" value="" placeholder="11">
      <input class="crossword__box across-11" type="text" name="" value="">
      <input class="crossword__box across-11" type="text" name="" value="">
      <input class="crossword__box across-11" type="text" name="" value="">
      <input class="crossword__box across-11" type="text" name="" value="">
      <!-- row11 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row12 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="" placeholder="12">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="" placeholder="13">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box across-12" type="text" name="" value="" placeholder="14">
      <input class="crossword__box across-12" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row13 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row14 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box across-15" type="text" name="" value="" placeholder="15">
      <input class="crossword__box across-15" type="text" name="" value="">
      <input class="crossword__box across-15" type="text" name="" value="">
      <input class="crossword__box across-15" type="text" name="" value="">
      <input class="crossword__box across-15" type="text" name="" value="">
      <input class="crossword__box across-15" type="text" name="" value="">
      <input class="crossword__box across-15" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row15 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row16 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row17 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <!-- row18 -->
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
      <input class="crossword__box bg-black" type="text" name="" value="">
    </form>
  </div>
  <div class="crossword__clues">
    <div class="down">
      <p id='down-1'>1 down: </p>
      <p id='down-2'>2 down: </p>
      <p id='down-4'>4 down: </p>
      <p id='down-5'>5 down: </p>
      <p id='down-7'>7 down: </p>
      <p id='down-13'>13 down: </p>
      <p id='down-14'>14 down: </p>
    </div>
    <div class="across">
      <p id='across-1'>1 across: </p>
      <p id='across-3'>3 across: </p>
      <p id='across-6'>6 across: </p>
      <p id='across-8'>8 across: </p>
      <p id='across-9'>9 across: </p>
      <p id='across-10'>10 across: </p>
      <p id='across-11'>11 across: </p>
      <p id='across-12'>12 across: </p>
      <p id='across-15'>15 across: </p>
    </div>
  </div>
</div>
