<div class="container flex-column-centered">
  <h1 class="text-center sans-serif">#banter</h1>
  <iframe id="pelham-map" class="mb-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9717.966607251337!2d-1.8463201029731822!3d52.48833932911119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bb1af760f997%3A0xb785ae921677b40f!2sPelham%2C%20Birmingham%20B8%203HU!5e0!3m2!1sen!2suk!4v1572990806516!5m2!1sen!2suk" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  <img src="http://giphygifs.s3.amazonaws.com/media/oIR6xeOffCEBa/200w_d.gif" alt="LOL">
</div>
