<link href="https://fonts.googleapis.com/css?family=Sunshiney&display=swap" rel="stylesheet">

<h1 class="samoyeds__font">Infinite Samoyeds!</h1>
<div class="samoyeds__container">

</div>

<%= javascript_include_tag '22-samoyed/samoyed.js' %>
