<div class="flex-column-centered mb-3 mt-3">
  <h1 class="arial text-center">Travel back in time to our WhatsApp chat 1 year ago...</h1>
  <p class="arial text-center">See how far our chat has come! We were both sending weird messages back then because we didn't know each other that well, but this interaction last Christmas Eve was cute, lol</p>
  <small class="arial text-center">Love youuuuu xxx</small>
  <h3 class="arial mt-3">Christmas Eve 2018:</h3>

  <div class="timeline__container timeline__container--right">
    <div class="timeline__item timeline__item--right">
      <p>My nephews will wake up at 6am, we'll open stockings/FC presents until about 9 when I will leave and assume people will just sit around in silence,as I am clearly the life and soul of the party, until I return about 1pm. Then lunch, then playing switch, maybe a boardgame, then sitting in front of the fire slowly getting pissed and watching TV. Maybe a walk if we can be bothered.</p>
      <p class="timestamp">23:29 <i class="fa fa-check d-inline blue-tick"></i><i class="fa fa-check d-inline blue-tick blue-tick--second"></i></p>
    </div>
  </div>
  <div class="timeline__container timeline__container--left">
    <div class="timeline__item timeline__item--left">
      <p>Sounds perfect<p>
        <p class="timestamp">23:30</p>
    </div>
  </div>
  <div class="timeline__container timeline__container--right">
    <div class="timeline__item timeline__item--right">
      <p>There's just one person missing.... :)</p>
      <p class="timestamp">23:31 <i class="fa fa-check d-inline blue-tick"></i><i class="fa fa-check d-inline blue-tick blue-tick--second"></i></p>
    </div>
  </div>
  <div class="timeline__container timeline__container--left">
    <div class="timeline__item timeline__item--left">
      <p>I actually can’t wait until my brother & his girlfriend inevitably get married & have a kid just for how much more fun Christmas would be with someone younger around</p>
      <p class="timestamp">23:32</p>
    </div>
  </div>
  <div class="timeline__container timeline__container--left">
    <div class="timeline__item timeline__item--left">
      <p>I’ll probably be waking up 9 at the earliest due to old-person boringness</p>
      <p class="timestamp">23:32</p>
    </div>
  </div>
  <div class="timeline__container timeline__container--right">
    <div class="timeline__item timeline__item--right">
      <p>My great aunt Jemima can't be with us because she's in Tenerife but apart from that it's perfect</p>
      <p class="timestamp">23:33 <i class="fa fa-check d-inline blue-tick"></i><i class="fa fa-check d-inline blue-tick blue-tick--second"></i></p>
    </div>
  </div>
  <div class="timeline__container timeline__container--right">
    <div class="timeline__item timeline__item--right">
      <p>I would kill for a 9am wake up, doesn't sound boring at all, sounds v sophisticated</p>
      <p class="timestamp">23:33 <i class="fa fa-check d-inline blue-tick"></i><i class="fa fa-check d-inline blue-tick blue-tick--second"></i></p>
    </div>
  </div>
  <div class="timeline__container timeline__container--right">
    <div class="timeline__item timeline__item--right">
      <p>Anyway after that terrible joke (if you can even call it that) I'm afriad I gotta say goodnight as my early start is calling. Merry Christmas :) xx</p>
      <p class="timestamp">23:34 <i class="fa fa-check d-inline blue-tick"></i><i class="fa fa-check d-inline blue-tick blue-tick--second"></i></p>
    </div>
  </div>

  <h3 class="arial mt-3">Christmas Eve Eve Eve 2019:</h3>
  <div class="timeline__container timeline__container--right">
    <div class="timeline__item timeline__item--right">
      <p>Canary Islands look nice but I have a terrible snobbishness towards Tenerife</p>
      <p class="timestamp">19:04 <i class="fa fa-check d-inline blue-tick"></i><i class="fa fa-check d-inline blue-tick blue-tick--second"></i></p>
    </div>
  </div>
  <p class="arial">Your poor 'aunt' ;)</p>

</div>
<style media="screen">
  body {
    background-color: #ece5dd;
  }
</style>
