<link href="https://fonts.googleapis.com/css?family=Vidaloka&display=swap" rel="stylesheet">
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    document.body.style.backgroundColor = 'rgb(67,79,110)'
    document.getElementsByClassName('back-button')[0].style.color="white"
  })
</script>
<div class="flex-column-centered">
  <%= image_tag 'homepage-backdrop.jpg', class: "xmas-day__image" %>
</div>
<div class="xmas__container">
  <h1 class="xmas_message">Merry Christmas Hugo</h1>
</div>
