<link href="https://fonts.googleapis.com/css?family=Vidaloka&display=swap" rel="stylesheet">
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    document.body.style.backgroundColor = 'rgb(67,79,110)'
    document.getElementsByClassName('back-button')[0].style.color="white"
  })
</script>
<div class="flex-column-centered">
  <%= image_tag ENV['XMAS_DAY_IMG_URL'], class: "xmas-day__image" %>
</div>
<div class="xmas__container">
  <h1 class="xmas_message--header">Merry Christmas Hugo</h1>
  <p class="xmas_message--body">The picture above is the one I drew to make the homepage design :) </p>

  <p class="xmas_message--body">I wasn't sure what to put for this day because I figured you'd expect some massive show-stopper day. The idea I had was kind of a year in review, like you suggested we do together. It'd be cute to do it IRL, but here's my version.</p>
  <p class="xmas_message--body">Right now I have 357 (!) starred messages in WhatsApp for our chat. Everytime you said something cute, or something happened that felt like a milestone, I starred it (I'm lame). Below are some highlights :)</p>

<div class="xmas-timeline">
  <div class="timeline">
  <div class="timeline__container left">
    <div class="content">
      <h2 class="xmas_message--header">2017</h2>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="timeline__container right">
    <div class="content">
      <h2 class="xmas_message--header">2016</h2>
      <p>Lorem ipsum..</p>
    </div>
  </div>
</div>
</div>
</div>
