
<section id="photo-container" class="flex-column-centered">

  <div class="polaroid">
    <%# <%= image_tag ENV['LENT_IMG_URL']%>
    <%= image_tag 'fart-lent-note.jpg', id: 'photo', class: 'lent' %>
    <div class="polaroid__bottom">
      WTF Hugo?
    </div>
  </div>
</section>
