
<div id="app">
  <ul>
    <li v-for="row in sudoku"> {{ row }}</li>
  </ul>
  <p v-if="solved"> Sudoku solved! </p>
</div>

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Sudoku Solver!',
      sudoku: [
        [0,0,0,0,0,2,1,0,0],
        [0,0,4,0,0,8,7,0,0],
        [0,0,4,0,0,8,7,0,0],
        [0,0,4,0,0,8,7,0,0],
        [0,0,4,0,0,8,7,0,0],
        [0,0,4,0,0,8,7,0,0],
        [0,0,4,0,0,8,7,0,0],
        [0,0,4,0,0,8,7,0,0],
        [0,0,4,0,0,8,7,0,0],
      ],
      sudokuObj : new Sudoku()
      solved: false
    }
  })

  //Vue.set(app.sudoku[5], 7, "hello") this is how to let Vue know it need to refresh

</script>
