<div class="wall__container">
  <div id="wall" class="wall">
    <!-- row 1 -->
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <!-- row 2 -->
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <!-- row 3 -->
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <!-- row 4 -->
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
    <div class="card">
      card X
    </div>
  </div>
</div>
