<div class="wall__container">
  <div id="wall" class="wall">

  </div>
</div>
<section id="connect" style="visibility: hidden;">
  <span id="connect-text">Well done! Now tell me the connection for row 1: </span>
  <input id="input" type="text" name="answer" placeholder="What's the connection?" />
  <button id="checkButton">Check</button>
</section>
