<div class="card card__container">
  <div class="card card__inner">
    <div class="card card__front">
      card front
    </div>
    <div class="card card__back">
      card back
    </div>
  </div>
</div>
