
<div id="rapid-click" style="margin-left: 100px; width:100px; height: 100px; background-color: red;">
  Click me!!
</div>
<%= audio_tag "fart.m4a", id: 'audio-1' %>
<%= audio_tag "oh-my-god.m4a", id: 'audio-2' %>
<%= javascript_include_tag '7-rapid/rapid.js' %>
