
<div id="rapid-click" style="margin-left: 100px; width:100px; height: 100px; background-color: red;">
  Click me!!
</div>
<%= audio_tag "burp.m4a", id: 'audio' %>
<%= javascript_include_tag '7-rapid/rapid.js' %>
