<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<%= javascript_include_tag '8-whatsapp/whatsapp.js' %>

<div class="container">
  <div class="question">
    Who do you think posts the most GIFs in our Whatsapp chat?
  </div>
  <div class="answer">
    <button type="button" name="button">Sarah</button>
    <button type="button" name="button">Hugo</button>
  </div>
  <div class="question">
    Who do you think has said the word "nerd" the most?
  </div>
  <div class="answer">
    <button type="button" name="button">Sarah</button>
    <button type="button" name="button">Hugo</button>
  </div>
  <div class="question">
    How about the phrase "I love you"?
    <small>ooh tense decision time</small>
  </div>
  <div class="answer">
    <button type="button" name="button">Sarah</button>
    <button type="button" name="button">Hugo</button>
  </div>
  <canvas id="myChart" style="width:50%;"></canvas>

  <div class="question">
    Which one of us is the sweariest? Who do you think said the word "shit" the most?
    💩
  </div>
  <div class="answer">
    <button type="button" name="button">Sarah</button>
    <button type="button" name="button">Hugo</button>
  </div>
</div>
