section.about{
  margin-bottom: 32px;

  & p {
    font-family: sans-serif;
  }
}

h1.about{
  color: white;
  font-family: 'Vidaloka', cursive;
  text-align: center;
  opacity: 1;
  @media screen and (max-width: 800px) {
    font-size: 3em;
  }
}

h2.about{
  color: white;
  font-family: 'Vidaloka', cursive;
  @media screen and (max-width: 800px) {
    font-size: 2em;
  }
}

p.about{
  color: white;
}

div.about__container{
  margin-top: 32px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  padding: 16px;
  @media screen and (max-width: 800px) {
    margin-left: 1em;
    margin-right: 1em;
  }
  background-color: rgba(67, 90, 111, 0.7);
}
